.footer_style {
	background-color: #000000;
	color: #ffffff;
}

.foot_img {
	background-color: none;
	border-color: none;
	/* -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15); */
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
  /* box-shadow: 0 1px 3px rgba(0,0,0,.15); */
}